@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* colors */
    --white: #ffffff;
    --orangeJ: #ffb400;
    --golden: #daab6e;
    --imgFilter: #4e5358;
    --greyCardColor: #666666;
    --charcoal: #2a2a2a;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding-top: px;
  }
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    background-color: var(--white);
    color: var(--charcoal);
    padding: 0;
    margin: 0;
  }
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
}

@layer components {
  .custom-mask {
    -webkit-mask-image: url(../public/Vector3.svg);
    mask-image: url(../public/Vector3.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain; /* Make the mask fit entirely */
    mask-size: contain;
    -webkit-mask-position: center; /* Center the mask */
    mask-position: center;
    overflow: visible;
  }
}

.map-container {
  width: 60%;
  height: 50vh;
}
